<!DOCTYPE html>
<html lang="en-US">
<head>
     <!-- Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="css/style.css">

     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <meta name="description" content="The greatest CV website on Earth, courtesy Jess Bodie Richards">
     <meta name="robots" content="index, follow">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">


     <noscript>Please enable JavaScript!</noscript>

    {{ favicon}}

     <title>Jess Bodie Richards</title>

</head>
<body>

<div class="cont">

{{> header}}


  <main>

    <section class="section-hero" data-aos="fade-down" data-aos-delay="500" data-aos-once="true">

      <div class="row u-margin-bottom-med u-height-100">
        <div class="hero">
          <div class="hero__image"></div>
          <div class="hero__text">
            <h1 class="heading-primary">
              <span class="hero__text-1sthome" id="showName">(^_^)/</span><br />
              <span class="hero__text-2ndhome" id="showTitle">Yoohoooo!</span></h1>
          </div>
        </div>
      </div>
    </section>

 <section class="section-haiku">
      <div class="row u-margin-top-med">
        <div class="haiku">
          <div class="haiku__header">
            <div class="haiku__header-rotate">
              <h2 class="heading-secondary haiku__header-top">pursuit</h2>
            </div>
          </div>
          <div class="haiku__text">
            <p class="haiku__text-single" data-aos="fade-left" data-aos-once="true">Making sustainable lifestyle choices</p>
            <p class="haiku__text-single" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">We'll green it all,</p>
            <p class="haiku__text-single" data-aos="fade-left" data-aos-delay="800" data-aos-once="true">Together...</p>
          </div>

        </div>
      </div>
    </section>

<section class="section-purpose">
      <div class="row">
        <div class="purpose">
          <figure class="purpose__image">&nbsp;
            <img src="img/nograss5.jpg"
            alt="Alternative ground coverings in my front garden">
          </figure>
          <div class="purpose__text" data-aos="fade-left" data-aos-delay="200" data-aos-once="true">
            <p>Current fascination... replacing turf lawn with sustainable ground covers alternatives.  
            <p>Check out the latest progress <a href="https://www.instagram.com/sustainable.urban.gardening/" target="_new">@sustainable.urban.gardening</a>.                
          </div>
        </div>
      </div>
  </section> 


  </main>


{{> footer}}

</div>

<script src="js/tellmeyourname.js"></script>

</body>
</html>
