@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

  .section-hero-about {
    @include mixins.section-block;
    height: 30rem;
    max-height: 75vh;
    background-color: variables.$color-primary;
    @include mixins.dropshadow;


    background-image: linear-gradient(
         to right bottom,
         rgba(variables.$color-primary, 0.8),
         rgba(variables.$color-primary-dark, .95)),
         url('img/verrazano_day_cropped.jpg');

    background-size: cover;
    background-position: bottom 20% left;
    background-repeat: no-repeat;
    max-width: 100%;
    z-index: map.get(variables.$zindex, text-over);

    @include mixins.respond(tab-port) {
      height: 34rem;
    }
  }

.section-obligatory {
  @include mixins.section-block;
  background-color: variables.$color-white-true;
  color: variables.$color-black;
  padding-top: 2rem;
  padding-bottom: variables.$left-margin;
  @include mixins.dropshadow;
}

.section-DnD {
  border: 1px solid black;
  @include mixins.section-block;
  background-color: rgba(variables.$color-primary, .2);
  color: variables.$color-black;
  padding-top: 2rem;
  padding-bottom: variables.$left-margin;
  @include mixins.dropshadow;

  @media only screen and (max-width: 56.25em) and (hover:none) {
    display: none;
  }
}
