@use "../abstracts/mixins";
@use "../abstracts/variables";

.obligatory {
  display: block;
  margin-left: variables.$left-margin;
  margin-right: variables.$left-margin;

  & .captions {
    display: none;

    @include mixins.respond (tab-land) {
      display: block;
    }
  }


  @include mixins.respond (tab-land) {
    @include mixins.basic-flex;
  }

  &__listing {
    display: flex;
    align-items: flex-start;

    &-blurb{
      margin-left: 2rem;
    }
  }

  &__image {
    display: inline-block;
    line-height: 0;
    height: 100%;
    max-width: 8rem;
    float: left;
    margin-right: variables.$left-margin;


    @include mixins.respond (tab-land) {
      margin-right: 0;
      max-width: 20rem;
      }

    &-only {
      width: 100%;
      margin-bottom: 2rem;
      @include mixins.dropshadow;
      @include mixins.respond (tab-land) {
        margin-bottom: 0;
        }
  
    }

    &-thumb {
      width: 200px;
      margin: 1rem 0;
    }

    &-crazy {
      filter: blur(1px) hue-rotate(90deg) saturate(150%);
      transition: all 500ms;

      &:hover,
      &:active {
        filter: blur(2px) hue-rotate(90deg) saturate(80%) invert(190%) contrast(80%);
      }
    }

    figcaption {
      @include mixins.respond (tab-land) {
        max-width: 20rem;
        padding: 0;
      }
    }

    textarea {
      padding: 0;
      height: 3.5rem;
    }

    form {
      width: 100%;
    }

    button {
      @include mixins.respond (tab-land) {
        font-size: 1rem;
        padding: .3rem;
        position: relative;
        margin: 0 auto;
        display: block;
      }  
    }

  }


  &__text {

    @include mixins.respond (tab-land) {
      @include mixins.flex-item-right;
    }

    &-wrapper {

      // REPLACED WITH AOS
      // @include animation-fadeInRight;
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
      //       animation-delay:(#{($i * 1s)});
            @include mixins.respond (tab-land) {
              margin-left: (#{($i * variables.$left-margin) - variables.$left-margin});

            }
          }
        }

    }

    &-label {
              margin-left: 0
            }

    &-date {
      color: variables.$color-primary;
    }

    &-single {
      // border: 1px solid gray;

      color: variables.$color-primary-dark;
      font-size: variables.$body-default;
      line-height: normal;
      word-spacing: .35rem;
      margin-bottom: 2.5rem;
      position: relative;
      top: 0;
      vertical-align: top;



      @include mixins.respond (mobile) {
          &:nth-child(4) {
            @include mixins.clearfix;
            }
        }

      @include mixins.respond (tab-port) {
          &:nth-child(6) {
            @include mixins.clearfix;
            }
        }

      @include mixins.respond (tab-land) {
        align-items: space-between;

      }

      li {
        margin-left: 0.5rem;
        
      }

    }

    &-multi {
      color: variables.$color-primary-dark;
      font-size: variables.$body-default;
      line-height: 160%;
      word-spacing: .35rem;
      margin-bottom: 2.5rem;
      padding-right: 10vw;
      position: relative;
      top: 0;
      vertical-align: top;  
    }

  }
}