@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.purpose {
  padding-bottom: 0;
  position: relative;
  display: block;
  width: 100%;
  max-height: 50vh;
  height: variables.$sec-height-xs;
  background-color: inherit;

  @include mixins.respond (tab-land) {
    height: variables.$sec-height-sm;
  }


  &__image {
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 0;
    float: left;
    @include mixins.overlay (variables.$color-white);
    // display: none; // DEBUG
    display: block;
    overflow: hidden;


    // Show cool shape when Clip Path and Shape Outside supported
    @supports ((clip-path: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0))
              and (shape-outside: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0))) {
      clip-path: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0);
      shape-outside: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0);
      display: block;
      margin-right: -2rem;
      margin-left: -15rem;
      }

    @include mixins.respond(tab-port) {
      @supports ((clip-path: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0))
                and (shape-outside: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0))) {
        margin-left: -10rem;
        }
      }

    @include mixins.respond(tab-land) {

      // Needed to show when Clip Path and Shape Outside supported
      @supports ((clip-path: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0))
                and (shape-outside: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0))) {
          margin-left: -10rem;
          // margin-right: $left-margin; // NEW
        }
    }
  }

  &__text {
    padding: 1rem 2rem 2rem 2rem;
    z-index: map.get(variables.$zindex, screens);
    color: variables.$color-black;
    display: block;
    margin-bottom: 0;
    position: absolute;
    bottom: 0; // NEW
    margin-left: variables.$left-margin; // NEW
    background: linear-gradient(
         -60deg,
         rgba(variables.$color-secondary, .7) 0%,
         rgba(variables.$color-white, .6) 15%,
         rgba(variables.$color-white, .7) 55%,
         rgba(variables.$color-secondary, .8) 100%);

    // Show rectangle overlay when Clip Path and Shape Outside supported
    @supports ((clip-path: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0))
              and (shape-outside: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0))) {
        text-shadow: none;
        background: transparent;
        position: relative;
      }


    p {
      font-size: 1.4em;
      line-height: 155%;

      @include mixins.respond(tab-port) {
        font-size: 1.4em;
        line-height: 160%;
        margin-left: 1em;
        }
      }
    }
}
